<div class="bciancio-content">
    <h3>
      Brandon Ciancio 
    </h3>
    <div *ngFor="let to of topping_options">
      <label>
        <input type="checkbox" [(ngModel)]="to.checked">
        {{ to.name }}
      </label>
    </div>
    <div class="button-container">
      <button (click)="clearAllToppings()">Clear All</button>
      <button (click)="selectAllToppings()">Select All</button>
      <button (click)="refreshSelectedToppings()">Refresh</button>		
    </div>
    <div>
      {{ selected_toppings }} a
    </div>
  </div>
  