h2 {
    color: darkblue;
}
#pizzaDesign {
    background-color: lightblue;
    padding: 5px;
    margin: 10px;
    text-align: center;
}
#whatCustomerOrdered {
    background-color: lightgoldenrodyellow;
}