
  <div class="card card-outline-primary">
    <div class="card-header">Jason's Toppings</div>
      <div *ngFor = 'let t of pizzaToppings' class="input-group mb-3">
        <span class="input-group-addon">
          <!-- try input-group-append -->
            <input type="checkbox" (click)="addToPrice()"[(ngModel)]='t.checked'>
            {{ t.name }}
        </span>  
      </div>
      <div class="btn-group btn-group-med" role="group" aria-label="Basic Example">
        <button class="btn btn-outline-dark" type="button" (click)="checkAllToppings()">All</button>
        <button class="btn btn-outline-dark" type="button" (click)="removeAllToppings()">None</button>
        <button class="btn btn-outline-primary" type="button" (click)="updateToppings()">Update</button>
      </div>

      <p class="card-text">{{ pizzaDescription }}</p>
  </div>
 
     
      <!-- <label>
        {{ t.name }}
        <input type="checkbox" (click)="addToPrice()"[(ngModel)]='t.checked'>
        {{t.cost}} 
      </label> -->
