<div id="toppingsBox" class="jumbotron">
    <h2 class="display-4">rbruinsma pizza toppings</h2>
<span *ngFor="let tt of toppingTypes"><p>
    <label>
        <input type='checkbox' [(ngModel)]='tt.checked' />
        {{ tt.name }}
    </label></p>
  </span>
  <button type="button" class="btn btn-primary" (click)="selectAllToppings()">All</button>
  <button type="button" class="btn btn-secondary" (click)="unselectAllToppings()">None</button>
  <button type="button" class="btn btn-info" (click)="toppingsILove()">Refresh</button>
  <span>{{toppingsMessage}}</span>
</div>  