#component_container {
    border: 1px solid black;
    border-radius: 10px;
    width: 25%;
}

#header {
    width: 100%;
    text-align: center;
}

#toppings {
    width: 100%;
    padding-left: 33%;
}

#buttons {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

#message {
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
}