<div id='luiiigii_pizza_palace'>
    <div id="component_container">
      <div id="header">
        <h2>Luiiigii's Pizza Palace</h2>
      </div>
      <div id="toppings">
        <span *ngFor='let topping of pizza_toppings'>
          <label>
            <input type='checkbox' [(ngModel)]='topping.checked' (click)="upperize(topping)"/>
            {{topping.name}}
          </label><br />
        </span>
      </div>
      <br />
      <div id="buttons">
        <input type="button" value="Select All" (click)="select_all()" />
        <input type="button" value="Deselect All" (click)="deselect_all()" />
        <input type="button" value="Place Order" (click)="order()" />
      </div>
      <br />
      <div id="message">
        <span>{{message}}</span>
      </div>
    </div>
</div>