<fieldset>
  <legend>Renee's Pizza Joint</legend>
    <span *ngFor= "let pizza of toppingType" >
      <label>
        <input type="checkbox" [(ngModel)]="pizza.checked" />
        {{ pizza.topping }}
      </label>
    </span>
    <br/><br/>
    <span>
      <button type="button" (click)="checkAll()">Check All</button>
      <button type="button" (click)="uncheckAll()">Uncheck All</button>
      <button type="button" (click)="whatWeLove()">Refresh</button> I love {{listOfToppings}} !!!
    </span>
    
</fieldset>
